{% extends "_base.html" %} {% block title %}Bio{%
endblock title %} {% block content %}
<main class="article-list">
  <div class="article-header">
    <h1 class="heading">Bio</h1>
  </div>

  <div class="timeline-wrapper">

    <div class="timeline-year-group">
      <div class="timeline-year-node" id="employment">
        <span class="year-label">Employment</span>
      </div>
      <div class="timeline-posts">

        <!--        <div class="timeline-post-item">-->
        <!--          <div class="post-date-node">-->
        <!--            <span class="date-text"-->
        <!--            >-</span-->
        <!--            >-->
        <!--          </div>-->
        <!--          <a href="-" class="post-link">-</a>-->
        <!--        </div>-->


        <div class="timeline-post-item">
          <div class="post-date-node">
            <span class="date-text"
            >since 2021</span
            >
          </div>
          <a class="post-link">Senior Software Engineer at Thing-it</a>
        </div>

        <div class="timeline-post-item">
          <div class="post-date-node">
            <span class="date-text"
            >2015-2021</span
            >
          </div>
          <a class="post-link">Working Student at Mercateo</a>
        </div>

        <div class="timeline-post-item">
          <div class="post-date-node">
            <span class="date-text"
            >2014-2015</span
            >
          </div>
          <a class="post-link">Waiter at Spizz</a>
        </div>


      </div>
    </div>

    <div class="timeline-year-group">
      <div class="timeline-year-node" id="education">
        <span class="year-label">Education</span>
      </div>
      <div class="timeline-posts">

        <div class="timeline-post-item">
          <div class="post-date-node">
            <span class="date-text"
            >2018-2021</span
            >
          </div>
          <a class="post-link">Computer Sciences, M.Sc.</a>
        </div>

        <div class="timeline-post-item">
          <div class="post-date-node">
            <span class="date-text"
            >2014-2018</span
            >
          </div>
          <a class="post-link">Business Information Systems, B.Sc.</a>
        </div>

        <div class="timeline-post-item">
          <div class="post-date-node">
            <span class="date-text"
              >2006-2014</span
            >
          </div>
          <a class="post-link">Abitur</a>
          <div class="timeline-end-marker"></div>
        </div>


      </div>
    </div>
  </div>
</main>
{% endblock content %}
